# gitignore
# игнорируем всё
/*
# кроме
!AstraRegul_stand.project
!*.MD
!.gitignore
!AstraRegul_stand.xml

# кроме папки
!SETTINGS/

# кроме папки
!AS/
# но в ней игнорируем
AS/LIBRARIES/*
AS/AstraRegul_stand/bin/*
AS/AstraRegul_stand/AstraRegul_stand.bak

# кроме папки
!HMI/
# но в ней игнорируем
HMI/externals/*
HMI/output/*